:root
{
    --skin-color:#fa5b0f;
}

a:link, a:visited {
    color:#fa5b0f;
    /* text-decoration: underline; */
    /* cursor: auto; */
  }
  
  a:link:active, a:visited:active {
    color: (internal value);
  }