:root
{
    --skin-color:#f021b2;
}

a:link, a:visited { 
    color:#f021b2;
    /* text-decoration: underline; */
    /* cursor: auto; */
  }
  
  a:link:active, a:visited:active {
    color: (internal value);
  }